<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="Community provided service for modded Moorhuhn data files. Revive the wonders of your childhood and join the community of other fellow Moorhuhn enthusiasts!" />
        <title>{{ title|default("Home") }} - Moorhuhn Mods</title>

        <script src="https://cdn.tailwindcss.com/"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
