<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="Community provided service for modded Moorhuhn data files. Revive the wonders of your childhood and join the community of other fellow Moorhuhn enthusiasts!" />
        <title>{{ title|default("Home") }} - Moorhuhn Mods</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.1/github-markdown.min.css" integrity="sha512-h/laqMqQKUXxFuu6aLAaSrXYwGYQ7qk4aYCQ+KJwHZMzAGaEoxMM6h8C+haeJTU1V6E9jrSUnjpEzX23OmV/Aw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
            .markdown-body {
                padding: 1rem;
                background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            }

            .markdown-body h1 {
                color: rgb(161, 120, 255);
            }
            .markdown-body ul {
                list-style-type: disc;
            }
            .markdown-body ol {
                list-style-type: decimal;
            }
        </style>
        <script src="https://cdn.tailwindcss.com/"></script>
    </head>
    <body class="min-h-screen bg-white dark:bg-gray-800 dark:text-gray-300">
        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="">
            <div class="container mx-auto py-8 text-center text-gray-500 dark:text-gray-400">
                <p>Moorhuhn Mods &copy; Made by SKevo18</p>
                <p>This project is <a href="https://github.com/SKevo18/mh_mods/" class="text-indigo-500 hover:text-indigo-600 dark:hover:text-indigo-400">open source</a>.</p>
            </div>
        </footer>
    </body>
</html>
