{% extends "_base.html" %}
{% set title="Mods for " + game.name %}

{% block content %}
<div class="container mx-auto py-8">
    <h1 class="text-2xl font-bold mb-4">{{ game.name }}</h1>
    <a href="{{ url_for('index') }}" class="text-indigo-500 hover:text-indigo-400 font-bold">&larr; Back to mods list</a>

    <div class="grid grid-cols-1 gap-4">
        {% for mod in game.mods %}
            <div class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg shadow-md my-4">
                {% if not mod.readme %}
                    <h2 class="text-lg font-semibold mb-2">{{ mod.id }}</h2>
                {% else %}
                    <div class="mb-6 markdown-body" data-content="{{ mod.readme|e }}"></div>
                {% endif %}
                <div class="flex flex-row gap-4">
                    <a href="{{ url_for('packmods', game_id=game.id) }}?mod={{ mod.id }}" class="bg-indigo-600 hover:bg-indigo-500 text-white font-bold py-2 px-4 rounded">
                        Select this mod
                    </a>
                    <a href="{{ url_for('packmods', game_id=game.id) }}?mod={{ mod.id }}" class="bg-gray-600 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded">
                        Download just this mod
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/marked/lib/marked.min.js"></script>
<script type="text/javascript">
    window.addEventListener("load", () => {
        const markdownElements = document.querySelectorAll(".markdown-body");
        markdownElements.forEach(function (element) {
            element.innerHTML = marked.parse(element.dataset.content);
        });
    });
</script>
{% endblock %}
