{% extends "_base.html" %}
{% set title="Mods for " + game.name %}

{% block content %}
<div class="container mx-auto py-8">
    <h1 class="text-2xl font-bold mb-4">{{ game.name }}</h1>
    <a href="{{ url_for('index') }}" class="text-indigo-500 hover:text-indigo-400 font-bold">&larr; Back to mods list</a>

    <!-- instructions -->
    <div class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg shadow-md my-4 space-y-2">
        <h2 class="text-lg font-semibold mb-2 text-indigo-700 dark:text-indigo-300">Instructions</h2>
        <ul class="list-decimal ml-4">
            <li>Select the mods you want to pack together and click the "Pack all mods" button at the bottom of the page.</li>
            <li>If you want to download just one mod, click the "Download just this mod" button.</li>
            <li>Mod files are merged together by finding unique modifications the mods make.</li>
            <ul class="list-disc ml-4">
                <li>Mods that you chose later have priority (they overwrite previous ones, if a conflicting change is detected) - so, order matters.</li>
            </ul>
            <li>Mods are packed into a single file, which you can then install into your game folder.</li>
            <ul class="list-disc ml-4">
                <li>It is recommended that you rename or backup your original data file, so you don't nuke it, just in case.</li>
            </ul>
        </ul>
    </div>

    <div class="grid grid-cols-1 gap-4">
        {% if game.mods|length > 0 %}
            {% for mod in game.mods %}
                <div class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg shadow-md my-4">
                    {% if not mod.readme %}
                        <h2 class="text-lg font-semibold mb-2">{{ mod.id }}</h2>
                    {% else %}
                        <div class="mb-6 markdown-body" data-content="{{ mod.readme|e }}"></div>
                    {% endif %}
                    <div class="flex flex-row gap-4">
                        <button onclick="javascript:selectMod(this, '{{ mod.id}}');" class="bg-indigo-600 hover:bg-indigo-500 text-white font-bold py-2 px-4 rounded">
                            Select this mod
                        </button>
                        <a href="{{ url_for('packmods', game_id=game.id) }}?mod={{ mod.id }}" class="bg-gray-600 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded">
                            Download just this mod
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-gray-500 dark:text-gray-400">There are no mods available for this game (yet).</p>
        {% endif %}
    </div>

    <div id="packModal" class="fixed bottom-0 p-4 shadow-lg rounded-lg bg-white-200 dark:bg-gray-800" style="display: none; left: 50%; transform: translateX(-50%);">
        <h2 class="text-lg font-semibold mb-2">Create Modpack</h2>
        <p class="mb-4 italic text-sm text-gray-500">Higher number means higher priority, and will overwrite earlier mods, if they make the same change (conflict).</p>
        <table id="modList" class="table-fixed w-full my-2">
            <tbody></tbody>
        </table>

        <button onclick="javascript:packSelectedMods();" class="bg-indigo-600 hover:bg-indigo-500 text-white font-bold py-2 px-4 rounded">
            Pack selected mods
        </button>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/marked/lib/marked.min.js"></script>
<script type="text/javascript">
    window.selectedMods = [];
    const packModal = document.getElementById("packModal");

    function updateModListDisplay() {
        const modList = document.getElementById("modList").querySelector('tbody');
        modList.innerHTML = '';
        window.selectedMods.forEach((modId, index) => {
            addModToTable(modId, index + 1);
        });
    }

    function addModToTable(modId, index) {
        const modList = document.getElementById("modList").querySelector('tbody');
        let tr = document.createElement("tr");
        tr.id = "mod-" + modId;
        tr.className = "hover:bg-blue-200 dark:hover:bg-blue-700";

        let tdIndex = document.createElement("td");
        tdIndex.textContent = index;
        tr.appendChild(tdIndex);

        let tdMod = document.createElement("td");
        tdMod.textContent = modId;
        tdMod.className = "w-3/4";
        tr.appendChild(tdMod);

        tr.appendChild(createControlButton("⬆️", () => moveMod(modId, -1)));
        tr.appendChild(createControlButton("⬇️", () => moveMod(modId, 1)));
        tr.appendChild(createControlButton("X", () => deselectMod(modId)));

        modList.appendChild(tr);
    }

    function createControlButton(text, action) {
        let td = document.createElement("td");
        let button = document.createElement("button");
        button.textContent = text;
        button.style.cursor = "pointer";
        button.addEventListener("click", action);
        td.appendChild(button);
        return td;
    }

    function deselectMod(modId) {
        const buttonElement = document.querySelector(`button[onclick*="'${modId}'"]`);
        selectMod(buttonElement, modId);
    }

    function moveMod(modId, direction) {
        const index = window.selectedMods.indexOf(modId);
        const newIndex = index + direction;

        if (newIndex >= 0 && newIndex < window.selectedMods.length) {
            [window.selectedMods[index], window.selectedMods[newIndex]] = [window.selectedMods[newIndex], window.selectedMods[index]];
            updateModListDisplay();
        }
    }

    function selectMod(buttonElement, modId) {
        const index = window.selectedMods.indexOf(modId);
        const modElement = buttonElement.parentElement.parentElement;
        const selectedClasses = ["outline-4", "outline-double", "outline-offset-4", "outline-green-500"]

        if (index === -1) {
            window.selectedMods.push(modId);
            modElement.classList.add(...selectedClasses);
            buttonElement.innerText = "Deselect this mod";
        } else {
            window.selectedMods.splice(index, 1);
            modElement.classList.remove(...selectedClasses);
            buttonElement.innerText = "Select this mod";
        }

        packModal.style.display = window.selectedMods.length > 0 ? "block" : "none";
        updateModListDisplay();
    }

    function packSelectedMods() {
        const selectedMods = window.selectedMods;
        if (selectedMods.length === 0) {
            alert("No mods selected!");
            return;
        }

        const url = "{{ url_for('packmods', game_id=game.id) }}";
        const params = new URLSearchParams();
        selectedMods.forEach(function (modId) {
            params.append("mod", modId);
        });
        window.location.href = url + "?" + params.toString();
    }

    window.addEventListener("load", () => {
        const markdownElements = document.querySelectorAll(".markdown-body");
        markdownElements.forEach(function (element) {
            element.innerHTML = marked.parse(element.dataset.content);
        });
    });
</script>

{% endblock %}